<ion-nav-bar >
  </ion-nav-bar>
<ion-view view-title="About Us" class="wordpress-view">


   <ion-content  >

    <div class="posts-list">
      <div  class="list card post-item">
        <div class="post-heading item item-text-wrap">
          <h2 class="post-title">Vision</h2>
         
        </div>
        <div class="post-content item item-text-wrap" >
          <p class="post-excerpt" >
                  <p>“To be the provider of choice in wealth creation and protection” is the vision statement that has and continues to propel Pan Africa Life as a business. The backbone of our vision has been made possible by over 120 permanent and over 800 agency staff on board. At Pan Africa Life, we believe in the continuous provision of innovative and affordable client solutions that improve quality of life; it is with this in mind that, we create a conducive working environment that promotes creativity, self expression and personal development. To ensure growth from one generation to the next, a superior return to our investors is key as well as involvement in community activities that enhance a sense for life while taking the risks so that our clients can have peace of mind"</p>
         </p>
  </div>
  </div>


                 <div  class="list card post-item">
                    <div class="post-heading item item-text-wrap">
                      <h2 class="post-title">Mission</h2>
                     
                    </div>
                    <div class="post-content item item-text-wrap" >
                      <p class="post-excerpt" >
                              <p> "We create and secure wealth for the changing needs of our clients and other stakeholders.We achieve this through continuous provision of:
                      Innovative client solutions that improve the quality of life across generations
                      Competitive returns to our investors that ensure growth
                      Conducive working environment that promotes creativity, self expression and personal development
                      Support and involvement in community activities that enhance a “sense for life”
                      …while taking the risks so that our clients can have peace of mind " </p>
                     </p>
              </div>
              </div>



                 <div  class="list card post-item">
                    <div class="post-heading item item-text-wrap">
                      <h2 class="post-title">Our quality policy</h2>
                     
                    </div>
                    <div class="post-content item item-text-wrap" >
                      <p class="post-excerpt" >
                              <p> "Our quality policy revolves around our clients:
                                  Understanding our clients’ needs
                                  Providing solutions that satisfy these needs
                                  Achieving our commitment on service delivery at all times
                                  We cultivate a culture of quality where continuous improvement of our people, our processes and our products is a way of life. " </p>
                     </p>
              </div>
              </div>




                <div  class="list card post-item">
                    <div class="post-heading item item-text-wrap">
                      <h2 class="post-title">Core Values </h2>
                     
                    </div>
                    <div class="post-content item item-text-wrap" >
                      <p class="post-excerpt" >
                            <p>Client Focus</p>
                            <p>Accountability</p>
                            <p>Professionalism</p>
                            <p>Integrity</p>
                            <p>Dynamism</p>
                            <p>Nurturing</p>
                     </p>
              </div>
              </div>




</div>
  

                 
           
      

     

                        
    
  </ion-content>

</ion-view>
