<ion-nav-bar >
  </ion-nav-bar>
<ion-view view-title="Panafrica Assets" class="wordpress-view">


   <ion-content  >

    <div class="posts-list">
      <div  class="list card post-item">
        <div class="post-heading item item-text-wrap">
          <h2 class="post-title">Unit Trusts</h2>
         
        </div>
        <div class="post-content item item-text-wrap" >
          <p class="post-excerpt" >
                   <p>The Pan Africa Unit Trust scheme offers three exciting funds which you can now access as an investor from as low as Kshs 2,500</p>
              <p>The 3 funds allow a choice of investment products that match your investment needs. Unit Trusts work by pooling contributions of many investors into one large fund (pooled fund) which can then be invested in a variety of financial products, including money market, treasury and corporate bonds, shares and property. These funds are a good way to invest. This is due to the nature of ‘collective investments’ which spreads your money around, and lowers the risk of loss of your investment, which benefits from the expertise of fund management</p>
         </p>
       </div>
                     <div dynamic-anchor-fix>
                            <a class="item item-icon-left item-icon-right" href="http://pan-africaassets.com">
                              <div>
                                <p class="description">Learn More ..</p>
                              </div>
                              <i class="icon ion-arrow-right-c"></i>
                            </a>
                          </div>
  </div>


                 <div  class="list card post-item">
                    <div class="post-heading item item-text-wrap">
                      <h2 class="post-title">Pesa + </h2>
                      
                     
                    </div>
                    <div class="post-content item item-text-wrap" >
                      <div class="item item-avatar">
                      <img src="img/pesa.png"/>
                    </div>
                      <p class="post-excerpt" >
                           
                           <p>Let your money work for you as you save to invest in your dream.
                          Earn competitive interest with the Pesa+ account by Pan Africa Asset Management.
                          Pesa+ is suitable for customers who wish to invest their money over a short period of time (1month to 12 months) through regular or one off savings.
                          </p>
                               </p>
                        </div>
                         <div dynamic-anchor-fix>
                            <a class="item item-icon-left item-icon-right" href="http://pan-africaassets.com/unit-trusts/pesa">
                              <div>
                                <p class="description">Learn More ..</p>
                              </div>
                              <i class="icon ion-arrow-right-c"></i>
                            </a>
                          </div>
                        </div>



                 <div  class="list card post-item">
                    <div class="post-heading item item-text-wrap">
                      <h2 class="post-title">Pata + </h2>
                     
                    </div>
                    <div class="post-content item item-text-wrap" >
                       <div class="item item-avatar">
                      <img src="img/pata.png"/>
                    </div>
                      <p class="post-excerpt" >
                                      <p>This investment option is perfect for customers keen to earn a growing regular income from their invested funds while still growing the value of the same invested funds.
                        Earn competitive interest with the Pata+ account by Pan Africa Asset Management.
                        It can be on a lump sum or money distributed monthly
                        This income is distributed to you every quarter
                        </p>
                     </p>
              </div>
                  <div dynamic-anchor-fix>
                            <a class="item item-icon-left item-icon-right" href="http://pan-africaassets.com/unit-trusts/pata">
                              <div>
                                <p class="description">Learn More ..</p>
                              </div>
                              <i class="icon ion-arrow-right-c"></i>
                            </a>
                          </div>
              </div>


                <div  class="list card post-item">
                    <div class="post-heading item item-text-wrap">
                      <h2 class="post-title">Chama + </h2>
                     
                    </div>
                    <div class="post-content item item-text-wrap" >
                      <div class="item item-avatar">
                      <img src="img/chama.png"/>
                    </div>
                      <p class="post-excerpt" >
                                      <p>Let your Chama money work for you as you save to invest in your dream.
                Earn competitive interest with the Chama+ account by Pan Africa Asset Management.
                Chama+ is for customers who want to grow their wealth over a longer period of more than 12 months through regular or one off savings.
                </p>
                     </p>
              </div>

                  <div dynamic-anchor-fix>
                            <a class="item item-icon-left item-icon-right" href="http://pan-africaassets.com/unit-trusts/chama">
                              <div>
                                <p class="description">Learn More ..</p>
                              </div>
                              <i class="icon ion-arrow-right-c"></i>
                            </a>
                          </div>
              </div>




               




</div>
  

                 
           
      

     

                        
    
  </ion-content>

</ion-view>
