<ion-view class="maps-view">
  <ion-nav-title>
    <span >Feedback</span>
  </ion-nav-title>
  <ion-content scroll="false">
      <form name="feedbackForm" novalidate>
  
   <div class="card list">
   <label class="item item-input item-floating-label">
     <span class="input-label"><i class="icon ion-edit placeholder-icon"></i>Your Email or Phonenumber</span>
      <input type="text" id="contact" name ="contact" placeholder="Email or Phonenumber" ng-model="feedback.contact" required>
      </label>
      
  

      <label class="item item-input item-floating-label">
     <span class="input-label"><i class="icon ion-edit placeholder-icon"></i>Your Comments</span>
      <input type="text" id="comments" name ="comments" placeholder="Comments" ng-model="feedback.comments" required>
      </label>
 
<div class="item">
   <button class="button button-block button-royal" ng-disabled="feedbackForm.$invalid" required ng-click="sendcomment()">
   Submit
</button>
</div>
<div class="item">
<p class="text-center">OR</p>
</div>
 <a class="item item-icon-left item-icon-right" href="#" ng-controller="SendMailCtrl" ng-click="sendMail()">
        <i class="icon ion-email"></i>
        <div>
          <span class="title">Send email</span>
    
        </div>
      </a>
</div>

</form>

  </ion-content>
</ion-view>
