<ion-nav-bar >
  </ion-nav-bar>
<ion-view view-title="Gateway Insurance" class="wordpress-view">


   <ion-content  >

    <div class="posts-list">
      <div  class="list card post-item">
        <div class="post-heading item item-text-wrap">
          <h2 class="post-title">Gateway Insurance</h2>
         
        </div>
        <div class="post-content item item-text-wrap" >
          <p class="post-excerpt" >
                 <p>Recognizing that the basic client needs is value for money, we offer high quality products that are tailored to meet those needs. Our product range is varied and target both corporate, medium size enterprises as well as individuals.
                       These products are innovative and have very competitive prices</p>
       </div>
                     <div dynamic-anchor-fix>
                            <a class="item item-icon-left item-icon-right" href="http://gatewayinsurance.co.ke">
                              <div>
                                <p class="description">Find Out More ..</p>
                              </div>
                              <i class="icon ion-arrow-right-c"></i>
                            </a>
                          </div>
  </div>

         
    
  </ion-content>

</ion-view>
