<ion-nav-bar >
  </ion-nav-bar>
<ion-view view-title="Funeral Cash Plan" class="wordpress-view">


   <ion-content  >

          <div class="read-more col col-center col-33">
              <a ui-sref="registration.get_cashplan"  class="button button-small button-block ">
                Cash Plan
              </a>
            </div>

    <div class="posts-list">
      <div  class="list card post-item">
        <div class="post-heading item item-text-wrap">
          <h2 class="post-title" >Funeral Cash Plan</h2>
         
        </div>
        <div class="post-content item item-text-wrap" >
          <p class="post-excerpt" >
                 <div >
                    <img src="img/umash-pre-funeral.jpg ">
                </div>
                <p>There are a lot of emotions that come with the passing of a loved one. While some emotions cannot be avoided or controlled making them eligible for the drama category…some can. Pan Africa Life offers you an affordable cash plan to enable you meet the immediate send off expenses of a loved one. A payout of Kes 100,000 or Kes 200,000 is made on demise of the covered life.
                    This package offers you an easy and affordable drama free way and saves you the time and hassle related to planning funeral arrangements. Premiums are paid annually 
                     </p>
                  </p>
          <div class="post-actions row">
            <div class="actions col col-center col-66">
              <a class="read-more  button button-small button-block button-assertive"  ui-sref="app.cash_plan_listing">
                            
                           About Funeral Cash Plan ..
                           
                        </a>    
            </div>
           
          </div>
        </div>
      </div>
    </div>



                 
           
      

     

                        
    
  </ion-content>

</ion-view>
