
<ion-nav-bar class="bar-positive">
  </ion-nav-bar>
<ion-view view-title="Funeral Cash Plan Product Specifications" class="wordpress-view">
  <ion-content>


      <div class="posts-list">
      <div  class="list card post-item">
        <div class="post-heading item item-text-wrap">
          <h2 class="post-title" >Funeral Cash Plan Product Specifications</h2>
         
        </div>
        <div class="post-content item item-text-wrap" >
          <p class="post-excerpt" >
                
            <div class="row">
		  <div class="col ">
    <h3 class="royal">BENEFIT OPTION 1 </h3>
     <div class="row header">
          <div class="col">PLAN</div>
          <div class="col">SUM ASSURED</div>
          <div class="col">Annual PREMIUM</div>
        </div>
        <div class="row" >
          <div class="col">Member</div>
          <div class="col">100,000</div>
          <div class="col">1,800</div>
        </div>
        <div class="row">
		  <div class="col">Spouse</div>
		  <div class="col">100,000</div>
		  <div class="col">1,800</div>
		 
		</div>
		<div class="row">
		  <div class="col">Children (0-24)</div>
		  <div class="col">100,000</div>
		  <div class="col">1,200</div>
		 
		</div>
		<div class="row">
		    <div class="col">Parent (Upto 65 Years)</div>
		  <div class="col">100,000</div>
		  <div class="col">2,500</div>
		 
		</div>

		<div class="row">
		  <div class="col">Parent (66- 80 Yrs)</div>
		  <div class="col">100,000</div>
		  <div class="col">4,000</div>
		 
		</div>

		<div class="row">
		  <div class="col ">
    <h3 class="royal">BENEFIT OPTION 2 </h3>
     <div class="row header">
          <div class="col">PLAN</div>
          <div class="col">SUM ASSURED</div>
          <div class="col">MONTHLY PREMIUM</div>
        </div>
        <div class="row" >
          <div class="col">Member</div>
          <div class="col">200,000</div>
          <div class="col">3,600</div>
        </div>
        <div class="row">
		  <div class="col">Spouse</div>
		  <div class="col">200,000</div>
		  <div class="col">3,600</div>
		 
		</div>
		<div class="row">
		  <div class="col">Children (0-24)</div>
		  <div class="col">100,000</div>
		  <div class="col">1,200</div>
		 
		</div>
		<div class="row">
		    <div class="col">Parent (Upto 65 Years)</div>
		  <div class="col">200,000</div>
		  <div class="col">5,000</div>
		 
		</div>

		<div class="row">
		  <div class="col">Parent (66- 80 Yrs)</div>
		  <div class="col">200,000</div>
		  <div class="col">8,000</div>
		 
		</div>
		<div class="row">
		  <div class="col">NB: The minimum premium at inception is applied to the policy during its entire lifetime irrespective of its latter revision.
No premium discounts apply to Funeral Cash Plan.
               </div>
		</div>  
         <a ui-sref="registration.get_cashplan"  class="button button-small button-block button-assertive">
               Get Cash Plan
              </a>

		</div>
		</div>  
	</div>
                  
        
        </div>
      </div>
    </div>

 


  </ion-content>
</ion-view>
