<ion-nav-bar >
  </ion-nav-bar>
<ion-view view-title="Umash Funeral Product" class="wordpress-view">


   <ion-content  >

          <div class="read-more col col-center col-33">
              <a ui-sref="registration.get_umash"  class="button button-small button-block" >
                Get Umash
              </a>
            </div>

    <div class="posts-list">
      <div  class="list card post-item">
        <div class="post-heading item item-text-wrap">
          <h2 class="post-title" >Umash</h2>
         
        </div>
        <div class="post-content item item-text-wrap" >
          <p class="post-excerpt" >
                 <div >
                    <img src="img/umash-pre-funeral.jpg ">
                </div>
                          <p>This is a compulsory funeral benefit that pays out a specified amount upon the death of the life assured.
                       The funeral benefit covers death from illness as well as accidents.
                        Pan Africa Life and Umash Funeral Services offer you a set of services in the event of the loss of a loved one, to enable you conduct a descent send off and allow for peaceful mourning. These will include mortuary services, hearse and transport to mention but a few. This package offers you an easy and affordable drama free way and saves you the time and hussle related to planning funeral arrangements. Premiums can be paid annually from as low as Ksh 2400. </p>
                  
          <div class="post-actions row">
            <div class="actions col col-center col-66">
              <a class="read-more  button button-small button-block button-assertive"  ui-sref="app.funeral_plan_listing">
                         About Umash ..   
                        </a>    
            </div>
           
          </div>
        </div>
      </div>
    </div>



                 
           
      

     

                        
    
  </ion-content>

</ion-view>
