<ion-nav-bar >
  </ion-nav-bar>
<ion-view view-title="Faq" class="wordpress-view">


   <ion-content  >

    <div class="posts-list">
      <div  class="list card post-item">
        <div class="post-heading item item-text-wrap">
          <h2 class="post-title">Pan Africa Life Umash Funeral  Plan &  Funeral Cash Plan</h2>
         
        </div>
        <div class="post-content item item-text-wrap" >
          <p class="post-excerpt" >
              <div class="list">
                 <div class="item item-text-wrap">
            
                  <b class="assertive">  WHY DO I NEED THIS COVERS?</b>
                  <p >• To provide families with peace of mind in the event of loss of life </p>
                  <p >• We have the option to provide either benefits or cash for those who don’t wish to use Umash.</p>

                 </div>
                  <div class="item item-text-wrap">

            <b class="assertive">  UMASH FUNERAL PLAN 
                            <a class="item item-icon-right" ui-sref="app.funeral_plan_writeup">                                          
                                <i class="icon ion-chevron-right"></i>
                            </a>
                    </b>
                    </br>
            <p> <b> WHAT BENEFITS DO I GET?</b> </p>
            <p>The Benefits include:</p>
          <p> • Hearse – Land Cruiser or trailer</p>
          <p> • Coffin  - casket</p>
          <p> • Mortuary charges</p>
          <p> • Flowers</p>
          <p> • Obituary – Nation or Standard dailies – 8cm by 2cm colour</p>
          <p> • Complimentary services  </p>  


          </div>
                  <div class="item item-text-wrap">

                    <b>  WHAT ARE COMPLEMENTARY SERVICES?</b>
                        <p >•  Collection of the deceased from place of death to Umash home at no extra cost, within Nairobi and its environs. </p>
                        <p >•  Automated lowering gear, green carpets for grave side, church trolley and PA system</p>
                         <p >• Red ribbons for family cars and white stickers for the bereaved family.</p>
                          <p >• Exclusive use of the state of the art chapel at Umash Funeral Home.</p>

                 </div>

                  <div class="item">

                    <a href="#/app/umashproductListing"><b> HOW MUCH WOULD THIS COST?</b></a>
                        

                 </div>

                 <div class="item item-text-wrap">

                    <b>  HOW DO I PAY MY PREMIUM?</b>
                       <p><small> These will be done via M-pesa/Airtel Money</small></p>
                        <p >• Payments should be made to Pan Africa Life</p>
                        <p >• The payments are annual payments.</p>

                 </div>

                  <div class="item item-text-wrap">

                    <b> WHO IS ELIGIBLE?</b>
                     
                        <p >• For children, we need the birth certificate number</p>
                        <p >• Principal member – 18 – 60 years</p>
                        <p >• Spouse – 18 – 60 years</p>
                        <p >• Children – 0 – 24 years</p>
                         <p >• Parents – 18 – 80 years</p>

                 </div>

                   <div class="item item-text-wrap">

                    <b> WHAT ARE THE WAITING PERIODS?</b>
                     
                        <p >• Policyholder, Spouse and Children – 3 months</p>
                        <p >• Parents – 6 months</p>
             

                 </div>
                   <div class="item item-text-wrap">

                    <b> HOW DO I CLAIM ?</b>
                     
                        <p >• Enter either the policy number or ID number</p>
                        <p ><a ui-sref="app.claim">Click Here To Make A Claim</a></p>


             

                 </div>

                  <div class="item item-text-wrap">

                    
                        <p >• Through Our USSD No.(Dial *429# )<small>Kenya No. Only</small></p>
                        <p>OR</p>
                        <p ><a ui-sref="app.claim">Click Here To Make A Claim</a></p>
             
             

                 </div>


            </div>    

     </div>  


         <div class="item item-text-wrap">

                    <b class="assertive">   FUNERAL CASH PLAN 
                     <a class="item item-icon-right" ui-sref="app.cash_plan_writeup">
                                                        
                                 <i class="icon ion-chevron-right"></i>
                            </a></b>
                </br>
                    <p> <b> WHAT BENEFITS DO I GET?</b> </p>
                    <p >For this policy, the client will opt to take the Sum Assured in the form of cash. There are two categories, Benefit 1 and 2, depending on the Sum Assured. The age limits remain the same. However, children can take out a Sum Assured a maximum of up to 100,000 with an annual premium of 1,200 only </p>  


                 </div>

                  <div class="item">

                    <a ui-sref="app.cash_plan_listing"><b> HOW MUCH WOULD THIS COST?</b></a>
                        

                 </div>
                  <div class="item item-text-wrap">

                    <b>  HOW DO I PAY MY PREMIUM?</b>
                       <p><small> These will be done via M-pesa/Airtel Money</small></p>
                        <p >• Payments should be made to Pan Africa Life</p>
                        <p >• The payments are annual payments.</p>

                 </div>

                  <div class="item item-text-wrap">

                    <b> WHO IS ELIGIBLE?</b>
                     
                        <p >• For children, we need the birth certificate number</p>
                        <p >• Principal member – 18 – 60 years</p>
                        <p >• Spouse – 18 – 60 years</p>
                        <p >• Children – 0 – 24 years</p>
                         <p >• Parents – 18 – 80 years</p>

                 </div>

                   <div class="item item-text-wrap">

                    <b> WHAT ARE THE WAITING PERIODS?</b>
                     
                        <p >• Policyholder, Spouse and Children – 3 months</p>
                        <p >• Parents – 6 months</p>
             

                 </div>
                   <div class="item item-text-wrap">

                    <b> HOW DO I CLAIM ?</b>
                     
                        <p >• Enter either the policy number or ID number</p>
                        <p ><a ui-sref="app.claim">Click Here To Make A Claim</a></p>
             

                 </div>




            </div>
          </div>
                  
     
        </div>
      </div>
    </div>



                 
           
      

     

                        
    
  </ion-content>

</ion-view>
