
<ion-view title="Terms and Condition" class="forms-view">
    <ion-content >
    
                

 
      <div class="card list transbox2">
        <div class="item">
           <button class="button pull-left button-calm icon-left ion-chevron-left button-clear" ng-click="next()">Previous </button>
        </div>
      	 <div class="item item-divider">
              <h3 class="text-center">Terms And Conditions</h3>
              </div> 

        <div class="item item-text-wrap">

        <p>I declare that to the best of my knowledge and belief that all members covered in this policy are in good health and that this application is effected by me voluntarily. I agree that if the above declaration is not true, this assurance shall be null and void.</p>
         </div>
     
     
         <div class="item">
                   <div class="col col-center">
                  <a class=" button button-block button-stable energized" ng-click="save()">
                    <i class="fa fa-thumbs-up" ></i>
                    Agree
                  </a>              
                </div>


                <div class="col col-center">
                  <a class=" button button-block button-stable assertive" ng-click="disagree()">
                    <i class="fa fa-thumbs-down" ></i>
                    Dis-Agree
                  </a>              
                </div>            
    


   
      </div>

             



     <div class="item">
           <button class="button pull-left button-calm icon-left ion-chevron-left button-clear" ng-click="next()">Previous </button>
        </div>
    </div>            

       </ion-content>
  </ion-view>       